<!DOCTYPE HTML>
<html>
  <head>
    <title>Dataflow Force</title>
    <script src="../../build/dataflow.js"></script>
    <script src="../svg-encode.js"></script>
    <script src="../interact.js"></script>
    <style>
      body { margin: 10px; font: 14px Helvetica Neue; }
      svg { border: 1px solid #ccc; }
      input[type="range"] { width: 400px; }
    </style>
  </head>
  <body>
    <svg class="vis" width="500" height="500"></svg><br/>
    <input id="cx" type="range" min="0" max="500" value="250" step="1" /> Center X<br/>
    <input id="cy" type="range" min="0" max="500" value="250" step="1" /> Center Y<br/>
    <input id="sx" type="range" min="0" max="1" value="0.1" step="0.001" /> X Strength<br/>
    <input id="sy" type="range" min="0" max="1" value="0.02" step="0.001" /> Y Strength<br/>
    <input id="st" type="range" min="-100" max="100" value="0" step="1" /> N-Body Force<br/>
    <input id="ki" type="range" min="1" max="10" value="1" step="1" /> Collision Iterations<br/>
    <input id="si" type="range" min="0" max="500" value="0" step="1" /> Simulation Iterations<br/>
    <script type="text/javascript">
console.log('DATAFLOW version', dataflow.version);
var ingest = dataflow.Tuple.ingest;
var svg = document.querySelector('svg.vis');

var data = [];
for (var n=1000; n > 0; --n) {
  data.push({
    k: n,
    v: [75, 250, 425][n % 3],
    r: (4 + (n % 16)) / 5
  });
}

var nodes = {
  enter: function(item, _) {
    item.setAttribute('fill', _.sc(item.datum.k));
  },
  update: function(item, _) {
    var t = item.datum;
    item.setAttribute('cx', t.x);
    item.setAttribute('cy', t.y);
    item.setAttribute('r', t.r);
    return true;
  },
  exit: function(item, _) {
    item.remove();
  }
};

var r = dataflow.field('r'),
    v = dataflow.field('v');

var df = new dataflow.Dataflow(),
    xr = df.add([0, 500]),
    yr = df.add([0, 500]),
    sc = df.add(dataflow.Scale, {type:'category20c'}),
    c0 = df.add(dataflow.Collect),

    cx = df.add(+document.querySelector('#cx').value),
    cy = df.add(+document.querySelector('#cy').value),
    sx = df.add(+document.querySelector('#sx').value),
    sy = df.add(+document.querySelector('#sy').value),
    st = df.add(+document.querySelector('#st').value),
    ki = df.add(+document.querySelector('#ki').value),
    si = df.add(+document.querySelector('#si').value),
    cf = df.add(dataflow.Params, {type:'center', x:cx, y:cy}),
    kf = df.add(dataflow.Params, {type:'collide', radius:r, iterations:ki}),
    nf = df.add(dataflow.Params, {type:'nbody', strength:st}),
    xf = df.add(dataflow.Params, {type:'x', x:v, strength:sx}),
    yf = df.add(dataflow.Params, {type:'y', y:cy, strength:sy}),
    fo = df.add(dataflow.Force, {iterations:si, forces:[cf, kf, nf, xf, yf], pulse:c0}),

    j1 = df.add(dataflow.DataJoin, {item:items(svg, 'circle'), pulse:fo}),
    c1 = df.add(dataflow.Collect, {pulse:j1}),
    e1 = df.add(dataflow.Encode, {encoders:nodes, sc:sc, pulse:c1}),
    s1 = df.add(dataflow.Sieve, {pulse: e1});

df.pulse(c0, dataflow.changeset().insert(data))
  .on(df.events('#cx', 'input'), cx, value)
  .on(df.events('#cy', 'input'), cy, value)
  .on(df.events('#sx', 'input'), sx, value)
  .on(df.events('#sy', 'input'), sy, value)
  .on(df.events('#st', 'input'), st, value)
  .on(df.events('#ki', 'input'), ki, value)
  .on(df.events('#si', 'input'), si, value)
  .run();
    </script>
  </body>
</html>