<!DOCTYPE HTML>
<html>
  <head>
    <title>Dataflow Stack</title>
    <script src="../../build/vega-dataflow.js"></script>
    <script src="../svg-encode.js"></script>
    <script src="../interact.js"></script>
    <style>
      body { margin: 10px; font: 14px Helvetica Neue; }
      svg { border: 1px solid #ccc; margin-bottom: 4px; }
      input[type="range"] { width: 500px; }
      rect {
        transition: all 1s;
      }
    </style>
  </head>
  <body>
    <svg class="vis" width="500" height="310"></svg><br/>
    <select id="offset">
      <option value="zero">zero</option>
      <option value="center">center</option>
      <option value="normalize">normalize</option>
    </select> Offset &nbsp;
    <input id="sort" type="checkbox" value="false"/> <label for="sort">Sort</label>
    <br/><br/>
    Click rectangles to change value. Shift-click to remove. Click background to add.
    <script type="text/javascript">
var svg = document.querySelector('svg.vis');
var soff = document.querySelector('#offset');
var bsrt = document.querySelector('#sort');

var data = [
  {key:'a', value:5}, {key:'a', value:8}, {key:'a', value:3},
  {key:'b', value:2}, {key:'b', value:7}, {key:'b', value:4},
  {key:'c', value:1}, {key:'c', value:4}, {key:'c', value:6}
];

var encoders = {
  enter: function(item, _) {
    item.setAttribute('fill', _.sc(item.datum.key));
    item.setAttribute('stroke', 'white');
  },
  update: function(item, _) {
    item.setAttribute('x', _.sx(item.datum.key));
    item.setAttribute('width', _.sx.bandwidth());

    var y1 = _.sy(item.datum.y0),
        y2 = _.sy(item.datum.y1);
    item.setAttribute('y', Math.min(y1, y2));
    item.setAttribute('height', Math.abs(y2-y1));
    return true;
  },
  exit: function(item, _) {
    item.remove();
  }
};

var key = vega.field('key'),
    val = vega.field('value'),
    end = vega.field('y1'),
    cmp = vega.compare('value', 'descending'),

    df = new vega.Dataflow(),
    xr = df.add([0, 500]),
    yr = df.add([300, 0]),
    so = df.add(null),
    of = df.add(soff),
    sc = df.add(vega.Scale, {type:'ordinal', scheme:'category10'}),
    c0 = df.add(vega.Collect),
    st = df.add(vega.Stack, {field:val, offset:of, groupby:[key], sort:so, pulse:c0}),

    ag = df.add(vega.Aggregate, {groupby:[key], drop:false, pulse:c0}),
    ca = df.add(vega.Collect, {pulse: ag}),
    dv = df.add(vega.Values, {field:key, pulse:ca}),
    sx = df.add(vega.Scale, {type:'band', domain:dv, range:xr}),

    ye = df.add(vega.Extent, {field:end, pulse:st}),
    sy = df.add(vega.Scale, {domain:ye, zero:true, range:yr}),

    j1 = df.add(vega.DataJoin, {item:items(svg, 'rect'), pulse:st}),
    c1 = df.add(vega.Collect, {pulse:j1}),
    e1 = df.add(vega.Encode, {encoders:encoders, sc:sc, sx:sx, sy:sy, pulse:c1}),
    s1 = df.add(vega.Sieve, {pulse: e1});

svg.addEventListener('click', function(evt) {
  if (evt.target === svg) {
    var k = sx.value.invertExtent(evt.pageX-10)[0],
        v = 2 + ~~(18 * Math.random());
    df.pulse(c0, vega.changeset().insert({key:k, value:v})).run();
  } else {
    var t = evt.target.datum;
    if (evt.shiftKey) {
      df.pulse(c0, vega.changeset().remove(t));
    } else {
      df.pulse(c0, vega.changeset()
        .modify(t, 'value', 2 + ~~(18 * Math.random())));
    }
    df.run();
  }
});

df.pulse(c0, vega.changeset().insert(data))
  .on(df.events(soff, 'change'), of, option)
  .on(df.events(bsrt, 'change'), so, function(_, e) {
    return e.target.checked ? cmp : null;
  })
  .run();
    </script>
  </body>
</html>